.App {
  text-align: center;
}

.container {
  display: flex;
  margin: 30px;
}

.titles {
  flex: 1;  
  padding: 20px; 
  border: 1px solid green;
  position: relative;
  overflow: hidden;
  
}

img {
  width: 100%;
}

.overlay {
  transition: bottom ease 1s;
  position: absolute;
  /*display: none;*/
  bottom: -100px;
  left: 0;
  width: 100%;
  background-color: white;
 /* transition: width 2s, height 4s;*/
}

/*.overlay:hover {
  width: 300px;*/


.titles:hover .overlay {
  display: block;
  bottom: 0;

}

@media only screen and (max-width: 600px){
.container {
  flex-direction: column;
}
}