.App {
  text-align: center;
  
}

.container {
  display: grid;
 grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
 
}

.titles {
  padding: 20px; 
  position: relative;
  overflow: hidden;
  
}

img {
  width: 100%;
 
}

a {
  color: rgb(90, 5, 62);
}

a:active {
  color: inherit;
}

.overlay {
  transition: bottom ease 1s;
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  background-color: white;
}

.titles:hover .overlay {
  display: block;
  bottom: 0;

}