.App {
  text-align: center;
}

.container {
  display: flex;
  margin: 30px;
}

.titles {
  flex: 1;  
  padding: 20px; 
}

img {
  width: 100%;
}

.overlay {
  display: none;
}

.item:hover .overlay{
  display: block;
}

@media only screen and (max-width: 600px){
.container {
  flex-direction: column;
}
}